body{
    background-color: red;
    color: black;
}

header{
    background-color: orange;
    min-height: 150px;
}

h1{
    color: black;
    margin-left: 40px;
}

.blog{
    float: right;
    background-color: pink;
    width: 400px;
    margin-top: 40px;
    margin-right: 20%;
    margin-bottom: 40px;
}

article{
    border: 3px solid white;
}

article:not(:last-child){
    margin-bottom: 40px;
}

a{
    color: black;
}

footer{
    background-color: orange;
    min-height: 100px;
    clear: both;
}